
/* title */
body {
  font-family: "Montserrat-Bold";
  text-align: center;

}
p{
  font-weight: bold;
}


h2 {
  font-weight: 800;
  color: grey;
  line-height: 1.2;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.title {
  background-color: #ff4c68;
  color: white;
}
.title1 {
  text-align: left;
  font-size: 3em;
  line-height: 1.5;
  font-weight: 800;
}

.container-fluid {
  padding: 7% 15% ;
}

.navbar-brand {
  position: relative;
  font-family: "Ubuntu";
  font-size: 3em;
}

.navbar {
  padding-left: 0;
  padding-bottom: 2rem;
  padding-top: 0;
  margin-top: 1rem;
}

.nav-link {
  font-family: "Ubuntu-light";
  margin: 0 auto 2rem auto;
  font-size: 1.2rem;
  padding-top: 30px;
  padding-bottom: 0;
}




.phone-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.download-button {
  margin: 5% 3% 5% 0;
}


/*-feature----*/
.feature{
  padding: 7% 7%;
}

.features {
  background-color: white;
  position: relative;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  font-size: xxx-large;
}

.icon:hover {
  color: #ff4c68;
}

.feature-p, .copi {
  color: #8f8f8f;
}
/* testimonials */

#testimonials {
  background-color: #ff4c68;
  position: relative;
}



.press-logo {
  width: 15%;
}

#press {
  padding-bottom: 1.5rem;
}

.testimonial-image {
  border-radius: 100%;
  width: 50px;
}

/* pricing */

#pricing {
  margin: 100px;
}


.card {
  margin: 3%;
}
/* cta */

#cta {
  background-color: #ff4c68;
  position: relative;
}


.link {
  padding: 0 10px 10px 10px;
}
/* media */

@media only screen and (max-width: 992px) {




  .title1 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    text-align: center;

  }

  .phone-image {
    position: static;
    transform: rotate(0);
  }

  .link {
    padding: 2% 5%;
  }
  #pricing{
    margin:  5% 5%;
  }
}
